body {
	font-family: 'Montserrat', sans-serif !important;
	animation: heartbeat 5s infinite alternate;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%) no-repeat fixed center;
	color: white;
}

  @keyframes heartbeat {
    0%, 45%, 95% {
    background-color: rgb(0,0,0);
    }
    5%, 50%, 100%  {
    	background-color: rgb(30,0,0);  
    }
  }

.landing {
	min-height: 100vh;
}

.navbar {
	padding: 5vh 8vw;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
	padding-bottom: 0;
}

.navbar-brand:hover hr {
		width: 100%;
}

.navbar-brand hr {
	border-top: 1px solid rgb(255, 255, 255);
    color: white;
    margin: 0;
    width: 0;
	transition: all 0.5s ease-in-out;
}


#landingtitle {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top: 37vh;
    text-transform: uppercase;
}

#landingdate {
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
    display: block;
    text-transform: uppercase;
    letter-spacing: 7px;
}


#landingquotes {
    text-align: center;
    font-size: 1.2rem;
	display: block;
	font-weight: 200;
	padding-top: 1vh;
}

#section-scroller-button {
	border: 1px solid white;
    position: fixed;
    right: 5vw;
    bottom: 8vh;
    height: 43px;
    width: 43px;
    background-color: rgba(0,0,0,0);
    z-index: 1050;
    cursor: pointer;
}

.caret {
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  display: inline;
  margin: 15px 16px;
  padding: 3px;
  border-bottom: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  transition: all 0.6s;
}

#section-scroller-button.rotate .caret {
  top: 4px;
  transform: rotate(-135deg);
}

.facts {
	min-height: 100vh;
}

.gallery {
	min-height: 70vh;
}

.container {
	padding: 0 4vw;
}

.slick-slide {
	margin: 0 11px;
}

.navbar-brand {
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.05);
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(255,255,255,0.05);
}

body::-webkit-scrollbar-thumb {
    background-color: #2d0000;
}

.card { 
	box-shadow:2px 2px 20px rgba(0,0,0,0.3); 
	border:none; 
	margin-bottom:30px;
	transition: all 0.5s ease-in-out;
}


.card-img-overlay {
	top: unset;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0,1) 80%);
    padding-bottom: 0;
}

.card-text {
	font-weight: 200;
	cursor: default;
	font-size: 0.8rem;
	text-align: center;
}

.card-title {
	cursor: default;
	margin: 0;
	text-align: center;
}

.team {
	min-height: 100vh;
}

.card hr {
	border-top: 2px solid rgb(255, 255, 255);
    color: white;
    margin: 0;
    width: 0;
	transition: all 0.5s ease-in-out;
}

.card:hover hr {
	width: 100%;
}

.card:hover { 
	opacity: 0.8;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    border-bottom: 2px solid white;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
    font-weight: bold;
}

.nav-tabs .nav-link {
    color: grey;
}

.nav-tabs {
    border-bottom: none;
    justify-content: center;
}

.nav-link:focus, .nav-link:hover {
    color: white;
    border: none;
}

.nav-link {
    padding: 1.5rem 4rem;
}

.tab-content {
	padding: 5vh 8vw;
}

.tabtitle {
	font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
	padding-bottom: 1rem;
}

.tab-img {
	height: 46vh;
	float: right;
}

#typedmyth, #typedfact {
    font-size: 1.2rem;
	display: block;
	font-weight: 200;
}

.typesection {
	padding: 10vh 0;
}

.cursor {
	display: none !important;
}

.mythtitle {
	font-weight: bold;
}

.tab-content>.tab-pane {
    transition: opacity 0.7s ease-in-out;
}

.subsection {
	min-height: 20vh;
}

.sectionheading {
	font-weight: bold;
	margin: 5vh 0;
}

#svgbeat {
	position: absolute;
	top: 39vh;
	left: 0;
	z-index: -1;
}