.navbar,.navbar-brand:hover hr{width:100%}
#landingdate,#landingquotes,#landingtitle{text-align:center;display:block}
#donate,#landingdate,#landingtitle,#sdc span,.navbar-brand{text-transform:uppercase}
#donate:after,.btn:after{content:'';bottom:0}
body{font-family:Montserrat,sans-serif!important;animation:heartbeat 5s infinite alternate;background:radial-gradient(ellipse at center,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%) center no-repeat fixed;color:#fff;overflow-x:hidden!important;max-width:100vw;}
@keyframes heartbeat{0%,45%,95%{background-color:#000}
100%,5%,50%{background-color:#1e0000}
}
::selection{background-color:rgb(170,0,0);}
.landing{min-height:100vh}
.navbar{padding:5vh 8vw 0;background:linear-gradient(to bottom,rgba(0,0,0,1) 10%,rgba(0,0,0,1) 100%);top:0;z-index:1500;}
.navbar-brand hr{border-top:1px solid #fff;color:#fff;margin:0;width:0;transition:all .5s ease-in-out}
#landingtitle{font-size:4rem;font-weight:600;padding-top:32vh}
#landingdate{font-size:1.4rem;font-weight:200;letter-spacing:7px}
#landingquotes{min-height:5vh;font-size:1.2rem;font-weight:200;padding-top:1vh}
#section-scroller-button{border:1px solid #fff;position:fixed;right:5vw;bottom:8vh;height:43px;width:43px;background-color:rgba(0,0,0,0);z-index:1050;cursor:pointer}
#svgbeat,#svgoverlay,.btn:after,.caret{position:absolute}
.card-text,.card-title{cursor:default;text-align:center}
.caret{top:0;width:5px;height:5px;display:inline;margin:15px 16px;padding:3px;border-bottom:solid 3px #fff;border-right:solid 3px #fff;transform:rotate(45deg);transition:all .6s}
.card,.card hr{transition:all .5s ease-in-out}
#section-scroller-button.rotate .caret{top:4px;transform:rotate(-135deg)}
.facts{min-height:100vh}
.gallery{min-height:70vh}
.container{padding:5vh 4vw}
.slick-slide{margin:0 11px}
.navbar-brand{font-weight:200;letter-spacing:1px;font-size:1rem}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.3);background-color:rgba(255,255,255,.05)}
body::-webkit-scrollbar{width:10px;background-color:rgba(255,255,255,.05)}
body::-webkit-scrollbar-thumb{background-color:#2d0000}
.card{box-shadow:2px 2px 20px rgba(0,0,0,.3);border:none;margin-bottom:30px}
.card-img-overlay{top:unset;color:#fff;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,1) 80%);padding-bottom:0}
.card-text{font-weight:200;font-size:.8rem}
.card-title{margin:0;font-size:1.2rem}
.team{min-height:100vh}
.card hr{border-top:2px solid #fff;color:#fff;margin:0;width:0}
.card:hover hr{width:100%}
.card:hover{opacity:.8}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#fff;border-bottom:2px solid #fff;background-color:transparent;border-color:transparent transparent #fff;font-weight:700}
.nav-tabs .nav-link{color:grey}
.nav-tabs{border-bottom:none;justify-content:center}
.nav-link:focus,.nav-link:hover{color:#fff;border:none}
.nav-link{padding:1.5rem 4rem}
.tab-content{padding:5vh 8vw}
.tabtitle{font-weight:700;text-align:center;font-size:1.5rem;padding-bottom:1rem}
.tab-img{height:46vh}
#typedfact,#typedmyth{font-size:1.2rem;display:block;font-weight:200}
.mythtitle,.sectionheading{font-weight:700}
.typesection{padding:10vh 0}
.cursor{display:none!important}
.tab-content>.tab-pane{transition:opacity .7s ease-in-out}
.subsection{min-height:20vh}
.sectionheading{margin:0 0 8vh}
#svgbeat{top:39vh;left:0;z-index:-1}
#svgoverlay{background:radial-gradient(ellipse at center,rgba(0,0,0,0) 28%,rgba(0,0,0,1) 80%) center no-repeat fixed;height:100vh;width:100%;top:0;left:0;z-index:1}
.form-control,.form-control:focus{background:0 0;color:#fff}
.form{padding:0 5vw 5vh}
.form-control:focus{outline:0!important;border:1px solid #af0e20;box-shadow:0 0 10px #af0e20}
option{background-color:#190000;color:#fff}
.btn{border-radius:none;background-color:transparent;color:#fff;border:2px solid #af0e20;overflow:hidden;transition:.5s;margin-top:4vh}
.btn:after{width:0;height:120%;left:-10%;background-color:#af0e20;transform:skewX(15deg);z-index:-1;transition:.5s}
#donate,#sdc{z-index:1000}
#sdc:hover{animation:beat 0.7s ease 0s infinite normal;}
.btn:hover{cursor:pointer;color:#fff}
.btn:hover:after{left:-10%;width:120%}
.btn:focus{border:none;box-shadow:0 0 0 .2rem rgba(255,0,0,.25)}
input[type=radio]{display:none}
input[type=radio]+.form-check-label span{display:inline-block;width:15px;height:15px;margin:-1px 4px 0 0;vertical-align:middle;cursor:pointer;border:3px solid #af0e20;-moz-border-radius:50%;border-radius:50%;background-color:transparent}
.swal-icon--success__line,input[type=radio]:checked+.form-check-label span{background-color:#fff}
input[type=radio]+.form-check-label span,input[type=radio]:checked+.form-check-label span{-webkit-transition:background-color .1s linear;-o-transition:background-color .1s linear;-moz-transition:background-color .1s linear;transition:background-color .1s linear}
.error{color:#af0e20;font-size:.75em}
.navbar-nav{display:none;}
.navbar-toggler{display:none;}
#donate,.swal-text,.swal-title{color:#fff}
.swal-button{background-color:#af0e20}
#sdc{position:fixed;bottom:8vh;left:5vw}
#sdc span{font-size:.8rem;font-weight:200}
#sdc img{height:7vh}
#si{font-weight:700!important;float:right}
#donate,.backgroundtitles{font-weight:700;position:absolute}
#donate{text-align:center;width:17vw;border:1.3px solid #fff;padding:2vh 0;font-size:1.2rem;border-radius:13px;bottom:17vh;left:0;right:0;margin:0 auto}
#donate:after{width:0;height:100%;position:absolute;left:0;background-color:rgba(255,255,255,.1);z-index:-1;transition:.3s;border-radius:13px}
#donate:hover{text-decoration:none}
#donate:hover:after{width:100%}
.swal-icon--success:after,.swal-icon--success:before,.swal-icon--success__hide-corners,.swal-overlay--show-modal .swal-modal{background-color:#000}
.swal-button:active{background-color:#9d0000}
.swal-icon--success__ring{border:4px solid hsla(0,0%,100%,.2)}
.swal-overlay--show-modal .swal-modal{background-color:rgba(0,0,0,.86)}
.backgroundtitles{font-size:7.5rem;opacity:.1;z-index:-1}
#gallerybg{line-height:1}
.navbar-brand.mobileview{display:none;}
@media (max-width:992px){#donate,body{position:relative}
#svgoverlay{display:none}
#landingtitle{font-size:2.5rem}
.tab-content{padding:5vh 3vw}
.container{padding:5vh 0}
.nav-link{padding:1.5rem 2rem}
.card-title{font-size:.75rem}
.card-text{font-size:.6rem}
.gallery{min-height:55vh}
.team{min-height:90vh}
#donate{text-align:center;padding:2vh 0;margin:0 auto;bottom:auto;display:block}
#sdc{position:absolute}
.typesection{padding:10vh 0 0}
a.navbar-brand.ml-auto{display:none}
}
@media (max-width:843px){}
@media (max-width:769px){.nav-link{padding:1.5rem 1rem}
#landingdate{font-size:1rem}
#donate{border:1px solid #fff}
#sdc{bottom:1vh}
.register{padding:5vh 5vw 10vh}
.backgroundtitles{left:0;font-size:5rem}
.navbar-nav{display:block;}
.navbar-toggler{display:block;}
}
@media (max-width:607px){.navbar-brand.mobileview{display:block;}
.navbar-brand{display:none;}
}
@media (max-width:600px){.container{padding:5vh 5vw}
#donate{width:23vw}
#landingtitle{padding-top:27vh}
.register{padding:5vh 5vw 10vh}
}
@media (max-width:550px){.nav-link{padding:1.5rem .5rem}
#donate{width:28vw}
#landingtitle{padding-top:24vh}
}
@media (max-width:576px){div.col-12.col-sm-4 img{width:60vw;display:block;margin:0 auto}
.typesection{padding:5vh 0 0}
}
@media (max-width:460px){.nav-link,.navbar-brand{font-size:.8rem}
#donate{width:33vw}
}
@media (max-width:380px){.nav-link{padding:1.5rem .2rem}
}
@keyframes beat{0%{transform:scale(1);}
50%{transform:scale(1.1)}
100%{transform:scale(1)}
}
@media (max-width:380px){.nav-link{padding:.5rem .2rem;}
}