body{
	background: linear-gradient(90deg, rgba(20,20,20,0.9), rgba(20,20,20,0.9)), url(../images/4-01.jpg);
    background-size: cover;
    background-origin: content-box;
    background-position: center;
	color:#af0e20;
	font-family: 'Playfair Display', serif !important;
}
.container{
	margin-top: 30px;
}
.text-center{
	padding: 10px;
}
.btn{
	margin-top: 30px;
}
.form {
	padding:20px;

}
.form-control{
	background: transparent;
	color:#fff;
	
}
.form-control:focus{
	background:transparent;
	outline-color: #f70e0e;
}
.btn{
	border-radius: none;
	background-color: #af0e20;
	border:none;
}
.btn:hover{
	background-color:#b70000;
	color:#000;
}
/*option{
	background-color: #141414;
	color: #fff;
}*/